@model TheWritersNet.Models.SectionModel

@{
    ViewBag.Title = "Display";
}

<div>
    @if (Model.DisplayTitle)
    {
        <h2>
            @Html.DisplayFor(model => model.Title)
        </h2>
    }
    <p>
        @Html.Raw(Model.Text)
    </p>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { pageID = Model.PageID, sectionID = Model.SectionID }) |
    @Html.ActionLink("Back to Page", "EditFromID", "Page", new { pageID = Model.PageID }, new { })
</p>
