@model List<TheWritersNetData.Models.SectionModel>

@{
    ViewBag.Title = "Select Sections";
}

<h2>Select Sections to Add or Remove</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <button type="submit">OK</button>
}
@Html.ActionLink("Back to Page", "EditFromID", "Page", new { pageID = Model[0].PageID }, new { })
